@import "tailwindcss";

@theme {
  --color-sidebar: #0f172a;
  --color-sidebar-active: #2563eb;
}

body {
  @apply bg-slate-100 text-slate-800;
  font-family: "Noto Sans TC", ui-sans-serif, system-ui, sans-serif;
}
